html{
    box-sizing: border-box;
}

*,
*::before
*::after {
    box-sizing: inherit;
}
:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --accent-background-color:#F5F4FA;
    --title-second-text-color:#FFFFFF;
}
/* стили для боди */
body{
    background-color:#FFFFFF ;
    color: var(--primary-text-color);
       }
a{
        text-decoration: none;
    }
/* Убираем маркеры */
ul [class] {list-style-type: none;}

/* стили для хедера */
header{
        color: var(--title-text-color);
        }
    
    /*контейнер хедера*/
   .page-header{
    
    border-bottom: 1px solid #ECECEC;
             
   } 


.container{
    display: flex;   
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   }

   .page-header .main-nav{
    display: flex;    

    background-color:var(--title-second-text-color);
   }

   
.main-nav .list{
    display: flex;
    margin-left: 85px;
    padding-left: 0px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
   }

.main-nav .item + .item{
    margin-left: 50px;
}

 /*стиль навигации*/
 .main-nav{
    display: inline-block;
    margin-top: 0em;
    margin-bottom: 0em;
    display: flex;
}
.main-nav .link{
    display: block;
    margin-bottom: 0px;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

.main-nav .link:hover,
.main-nav .link:focus, 
.main-nav .link:active{
    color:var(--accent-color);
}
.main-nav .link.curent{
    color:var(--accent-color);
}    

   .address-nav .list{
    display: flex;
    margin: 0;
  padding: 0;
  list-style: none;
       
    background-color:var(--title-second-text-color);
   }

.address-nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.address-nav .item + .item{
    margin-left: 30px;
}

    /*стиль адреса*/
              
    .address-contact { 
        padding-top: 32px;
        padding-bottom: 32px;

        color:var(--primary-text-color);
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
            }

    .address-contact:hover, .address-contact:focus, .address-contact:active

    .adress-link:hover,
    .adress-link:focus{
        color:var(--accent-color);  
        }
       
/*лого*/
    .logo > span {
        color: var(--accent-color);
     }
     
    .logo.header{
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
        
        color: var(--title-text-color);
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
                        }

                   

    .logo.footer{
        display: block;
        width: 129px;
        margin: 0px;
        padding: 0px;
                
        color: var(--accent-background-color);
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
                }

   

    
    /*стиль кнопок*/
    .button-primary{
        display: block;
        width: 200px;
        height: 50px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
         margin-top: 46px;
         
              margin-left: auto;  
              margin-right: auto;    
        border-radius: 3px;

        font-family: Roboto, sans-serif;
        color: var(--title-second-text-color);
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        background-color: var(--accent-color);                 
        }



        .button-second{
            background-color: var(--accent-color);
        }
        .button-second .text-button{
            display: flex;
            align-items: center;
            text-align: center;
            
            color: var(--title-second-text-color);
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
        }

        .button-list{ 
            background-color: var(--title-second-text-color);
            color: var(--title-text-color);
            }

        .button-list .button { 
                background-color: var(--accent-background-color);
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1.62;
                letter-spacing: 0.03em
            }
        .button-list .button:hover { 
                background-color: var(--accent-color);
                color: var(--title-second-text-color);
                            }
        
                

        .main-portfolio{
           background-color: var(--title-second-text-color); 
        }

    main{ 
    margin-left: auto;
    margin-right: auto;
    }

    /*стиль главного фона и цвет заголовка*/      
    .section{
        margin-left: auto;
        margin-right: auto;
        
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: auto;
        padding-right: auto;

        background-color:rgba(47, 48, 58, 0.8); ;
        color: var(--title-second-text-color);
        }   

        .section .title{
            
            width: 646px;
            height: 104px;
            margin-top: 0px;
            margin-right: auto;
            margin-bottom: 0px;
            margin-left: auto;
            
            text-align: center;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 0.06em;
            color: var(--title-second-text-color);
                       }

/*особенности*/
.features{
    background-color: var(--title-second-text-color);  
    }

    .container-features{
    width: 1200px;
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ECECEC;
    
    }

.features .list{
    display: flex;

    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    
}

.features .item{
    justify-content: space-between;
}

    .features .image{
        background-color: var(--accent-background-color);
        width: 270px;
        height: 120px;
        background-color: var(--accent-background-color);
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 106px;
        padding-right: 106px;
        border-radius: 4px;
        justify-content: space-between;
        }   
    .features .image:hover,
    .features .image:focus,
    .features .image:active
        { background-color: var(--accent-color);
        }

    .features .title{
        align-self: flex-start;
        width: 278px;
        height: 16px;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        
        color: var(--title-text-color);
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        }

    

    .features .text{
               
        color: var(--primary-text-color);
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        }

        /*наш профиль*/
    
    .profile{
        
        background-color: var(--title-second-text-color)
                    }

        .container-profile{
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 94px;
            padding-right: 15px;
            padding-bottom: 94px;
            padding-left: 15px;
        }

        .profile .title{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;

        color: var(--title-text-color);
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        }   

.profile> .box{
    display: block;
    width: 370px;
    height: 294px;
}

.profile .image-prof{
    display: block;
    width: 370px;
    height: 294px;
}

.profile .list{
    display: flex;
    padding-left: 0px;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    }

.profile .item + .item{
    margin-left: 30px;
}

.profile .text-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
                       
    color: var(--title-second-text-color);
    background: rgba(47, 48, 58, 0.8);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    }
        /*команда*/

.team{
    margin-top: 0px;
    background-color: var(--accent-background-color);
    }

.team__container-team{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-left: 15px;

}    

    .team__title{
        
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 50px;
            
        color: var(--title-text-color);
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        }

.team__list{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: ;
    }

.team__item{
    width: 270px;
}    
    
    
    .team__card{
        border-radius: 4px;
        background-color: var(--title-second-text-color);
    }

.team__image{
    display: block;
}

    .team__content-card{
    width: 270px;
    padding-top: 30px;
    padding-bottom: 24px;

}

.team__name{
text-align: center;  
margin: 0px;

color: var(--title-text-color);
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
    }

.team__text{
    padding-top: 10px;
    text-align: center;
    margin: 0px;
        
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    }

    .social-list{
        display: flex;
        justify-content: space-evenly;
        margin: 0px;
       padding: 0px;
            }

.social-links:hover, 
.social-links:focus,
.social-links:active
    {background-color: var(--accent-color);}

    /*постоянные клиенты*/
.clients{
    background-color: var(--accent-background-color);
    }

.clients__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--title-second-text-color);
    padding-top: 94px;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-left: 15px;
    }

    .clients__title{
    text-align: center;
    margin: 0px;

    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    }

.clients__list{
    display: flex;
    padding-top: 50px;
    padding-left: 0px;
    justify-content: space-between;
    margin: 0px;
    }
 
.clients__item{
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: space-around;
}


.clients__logo:hover,
.clients__logo:focus,
.clients__logo:active
    {
    background-color: var(--accent-color);
    }

    /*Портфолио*/
.production .list{
    background-color: var(--title-second-text-color);
    }

.production-list .production-title{
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    }
.production-list .name{
     margin-top: 4px;
     margin-bottom: 0px;

    color: var(--primary-text-color);
     font-family: Roboto, sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 1.88;
     letter-spacing: 0.03em;
    }
.production .hide-text{
    background-color: var(--accent-color);
    color: var(--title-second-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    }

    /*футер*/
.footer{
    background-color:#2F303A ;
    
    margin-left: auto;
    margin-right: auto;
    padding-top:48px;
    padding-bottom: 21px;
    }

.footer__container{
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   display: flex;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   justify-content: baseline;

}   

.footer__container__logo-adress{
    margin-right: auto;
    padding: 0px;
    
    color:var(--title-second-text-color) ;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }

.footer__container__logo-adress__adress{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: auto;

    color: var(--title-second-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }    

.footer__container__logo-adress__contact{
    display: flex;
    margin-top: 9px;
    
    color:rgba(255, 255, 255, 0.6) ;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
     }

    
.footer__container__social{
margin-right: 94px;
}

.footer__container__social__slogan{
    display: block;
    margin-top: 0px;
    margin-bottom: 21px;
   
    color: var(--title-second-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
      }

.footer__container__social__social-list{
    display: flex;
    padding-left: 0px;
    list-style-type: none;
}

.footer__container__subscribe{
    display: flex;
}

.footer__container__subscribe__join{
    display: block;
    margin-top: 0px;
    
    color: var(--title-second-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.button-second{
    display: block;
    margin-top: 45px;
    margin-left: 220px;
    width: 200px;
    height: 50px;

    color: var(--title-second-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;
    border-radius: 4px;
}

.footer__copyright-container{
    padding-top: 18px;
    
    margin: 0px;
    
    justify-content: center;

    color: rgba(255, 255, 255, 0.4);  
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
      }
      
.main-portfolio{
    
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    }

.section-portfolio{
    background-color: var(--title-second-text-color);
}

.container-portfolio{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

     .button__list{
        display: flex;
        justify-content: center;
        padding-top: 93px;
        margin: 0px;
        
      }

      .button-container__button{
        margin-right: 8px;
        border-radius: 4px;
        padding-top: 6px;
        padding-right: 22px;
        padding-bottom: 6px;
        padding-left: 22px;

        background-color: var(--accent-background-color);
        color: var(--title-text-color);
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
      }

      .button-container__button:not(:last-child){
          margin-right: 8px;
      }

      .button-container__button:hover,
      .button-container__button:focus,
      .button-container__button:active{
          background-color: var(--accent-color);
          color: var(--title-second-text-color);
      }

      .button-list .item + .item{
          margin-left: 8px;
      }

.portfolio-container__production-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.portfolio-container__item:not(:nth-child(3n)){
    margin-right: 30px;
}

.portfolio-container__item:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;

.portfolio-container__link{
}

.portfolio-container__image-card{
    display: block
}

.portfolio-container__card-content{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;

    background: #FFFFFF;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.portfolio-container__production-title{
    margin-top: 0px;
    margin-bottom: 0px;
    
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em
}

.portfolio-container__name{
    margin-top: 4px;
    margin-bottom: 0px;
   
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
          
      .container .production-list{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin-left: 0px;
      }
                   
      .production-list .link{
          display: block;
      }   